# Protect the CODEOWNERS file
/.github/CODEOWNERS @universokobana/owners

# Protect workflow files
/.github/workflows/* @universokobana/infra

# Protect infra manifests and scripts
/.cloud66 @universokobana/infra
/render.yaml @universokobana/infra
/bin/op_credentials @universokobana/infra